<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}OBAAS{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/CSS/main.css' %}"/>
    <script src="{% static 'home/JS/nav-menu.js' %}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'bank:account-balance' %}">Account Balance</a>
    <a href="{% url 'bank:pay-bill' %}">Bill Pay</a>
    <a href="{% url 'bank:service-request' %}">Service Request</a>
    <a href="{% url 'bank:create-account' %}">Create Account</a>
    <a href="{% url 'bank:close-account' %}">Close Account</a>
  </div>

  <div id="title">
    <span class="menu_button" onclick="openNav()">&#9776; Menu</span>
    <span class="site_header">Online Banking System</span>
  </div>

  <script>

  </script>
<div class="clear"></div>
{% block body %}
{% endblock %}<br>
<!-- Page footer. Consistent across all the pages in the website -->
<footer class="page_footer">
		 &copy; Copyright IFB299 2017
</footer>
</body>

</html>
