{% extends 'home/header.html' %}
{% block title %}Welcome Page{% endblock %}
{% block body %}
<div class="main_content" id="main_content">
  <h1 class="welcome_message"> Welcome to Our</h1>
  <h1 class="welcome_message"> Online Bank Account Access System</h1>
  <br>
  <h4 class="welcome_message"> Please select a Menu option to continue</h4>
</div>
<div class="clear"></div>
{% endblock %}
