/* Setting default value for all the HTML elements */
*{
	 margin: 0px auto;
	 font-family: Calibri;
}
/* Header */
.navigation ul li a {
	text-decoration:none;
}
/* Body of every page */
body {
/* setting up a default minimum width so that the page maintains it's resolution all the time */
	min-width: 600px;
	min-height: 600px;
	background: white url("../images/background.png");
}

/* Form error message box */
.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
}
/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #241F1F;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;\
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav a:active{
	background-color: white;
	color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#title {
    transition: margin-left .5s;
    padding: 16px;
		color: white;
		background-color: #111;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menu_button {
	font-size:20px;
	cursor:pointer;
}

.site_header {
	font-size:200%;
	margin-left: 30%;
}

.clear {
	clear: both;
}
/* Page Footer */
.page_footer {
	text-align:center;
	width:100%;
	height:20px;
	background-color:#C3C3C3;
	margin: 0px 0px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
/* Main Content div */
.main_content {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width: 50%;
		height: 470px;
    border-radius: 5px;
		background-color: #FFFFFF;
		text-align: center;
		position: relative;
		top: 80px;
		margin: 0 auto;
		padding: 10px;
}

.main_content:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Labels in all Pages */
label {
	text-align: left;
	display: inline-block;
	width:150px;
	font-weight: bold;
}

/* HTML input and select fields in all forms */
input, select {
    width: 40%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Submit input types */
input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
/* Submit reset types */
input[type=reset] {
    width: 40%;
    background-color: #f44336;
    color: white;
    padding: 8px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset]:hover {
    background-color: #F43636;
}

/* Registration Page */
.form_field {
	/* Background of the main content. Consistent across all the pages */
	margin: 10px;
}
