<!--Adding page header from header template-->
{% extends 'home/header.html' %}
<!--The title of the page displayed in the browser tab-->
{% block title %} Account Successfully Closed{% endblock %}
<!-- Page body -->
{% block body %}
<div class="main_content" id="main_content">
  <h1>Congratulations!</h1><br>
  <div class='clear'></div>
  <div>
    <h2> Account closed successfully. </h2>
    <h2> Your Account Number </h2>
    <h2> {{accountNumber}} </h2>
  </div>
</div>
<div class="clear"></div>
{% endblock %}
