<!--Adding page header from header template-->
{% extends 'home/header.html' %}
<!--The title of the page displayed in the browser tab-->
{% block title %}Close Account{% endblock %}
<!-- Page body -->
{% block body %}
<div class="main_content" id="main_content">
  <h2>Close Account</h2><br>
  <!-- Displays any relevant error message after the form is submitted -->
  {% if error_message %}
    <div class="alert">
      <p><strong>{{ error_message }}</strong></p>
    </div><br>
  {% endif %}
  <div class='clear'></div>
  <!-- A form to collect all the user details. The form is validated after submission -->
  <form action="{% url 'bank:close-account' %}" method="post" enctype="multipart/form-data">
    <!-- Template tag which provides protection against Cross Site Request Forgeries -->
      {% csrf_token %}
      <!-- Including generic form template -->
      {% include 'bank/form_template.html' %}

      <!-- Button to submit the form -->
			<input type="submit" value="Submit" class="generalButton">

      <!-- Button to clear the form inputs -->
      <input type="reset" value="Clear">
  </form>
<!-- Form end -->
</div>
<div class="clear"></div>
{% endblock %}
