<!--Adding page header from header template-->
{% extends 'home/header.html' %}
<!--The title of the page displayed in the browser tab-->
{% block title %} Request Successfully Processed{% endblock %}
<!-- Page body -->
{% block body %}
<div class="main_content" id="main_content">
  <h1>Congratulations!</h1><br>
  <div class='clear'></div>
  <div>
    <h2> New cheque book issued. </h2>
    <h2> Your Account Number </h2>
    <h2> {{accountNumber}} </h2><br>
    <h4> Your new Cheque Book will </h4>
    <h4> will arrive at your address in 5-7 working days </h4>
  </div>
</div>
<div class="clear"></div>
{% endblock %}
