<!--Adding page header from header template-->
{% extends 'home/header.html' %}
<!--The title of the page displayed in the browser tab-->
{% block title %}Create Account{% endblock %}
<!-- Page body -->
{% block body %}
<div class="main_content" id="main_content">
  <h1>Account Balance</h1><br>
  <div class='clear'></div>
  <div>
    <h2> Account Number {{accountNumber}} </h2><br>
    <h2> Current Balance {{balance}} </h2>
  </div>
</div>
<div class="clear"></div>
{% endblock %}
